<link rel="stylesheet" href="../css/style.css">


<center>
    <div class="login-form form">
        <form>
    <!-- <div> -->
        <fieldset>
                <legend>Chat Application</legend>
                <img src="login.jpg" alt="Image" height="100" width="150">
                <br> &nbsp </br>
                <h1>Login Here</h1>
                Username: <input type="text" ng-model="userName" placeholder="Enter username">
                <br /><br />
                <!-- {{ userName }} -->
                Password: <input type="password" ng-model="password" placeholder="Enter password">
                <br>
                <br> &nbsp </br>
                
                <input class="button" type='button' name='REGISTER' value="login" ng-click="login()">
                </fieldset>
                </form>
                <!-- <div>
                    <br> &nbsp </br>
                    <a uhref="registration">click here for registration</a>
                </div> -->
                <div class="text-center small">Don't have an account?</div>
                    <div ui-sref="register">Sign Up</div>
                        <!-- <a href="Sign Up"></a> -->
        </fieldset>
      
               
   </div>


</center>
</div>